/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 12px;
}

.player-container {
  height: 500px;
  width: 400px;
  background: #eff3f7;
  border-radius: 10px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}


.img-container {
  position: relative;
  top: -40px;
  left: 50px;
  height: 300px;
  width: 300px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  /* background: #fff;
  border-radius: 5px;
  cursor: pointer; */
  margin: 30px 20px;
  height: 4px;
  width: 90%;
  position: relative;
}

.progress-track {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 4px;
  width: 100%;
  position: relative;
  display: flex;
}

.progress-track .progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.progress-pointer {
  /* display: none; */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  padding: 4px;
  margin-top: -7px;
  margin-left: -2px;
}


.duration-wrapper {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  padding: 5px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-controls {
  position: relative;
}

.primary-controls .fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  user-select: none;
}
.fas:hover {
  color: rgb(104, 104, 104);
}

.material-icon {
  color: rgb(129, 129, 129);
  font-size:50px;
  margin-right: 30px;
  cursor: pointer;
}



.main-button {
  font-size: 40px;
  position: relative;
  padding: 0 .5em;
}


.repeat-one i {
  color:rgb(129,129,129); 
  font-size:32px;
  cursor: pointer;
}

.repeat-one i:hover {
  color: #5b5c5c;
  text-shadow: 0px 0px 10px #5b5c5c;
}

.active {
  color: #5b5c5c;
  text-shadow: 0px 0px 10px #5b5c5c;
}

.volume-icons {
  position: relative;
  align-items: center;
  display: flex;
}

.volume {
  font-size: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  user-select: none;
}


.volume-change {
  position: relative;
  display: none; 
}

.volume-change input {
  -webkit-appearance: none;
  width: 100%;
  outline: none;
  height: 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(129, 129, 129);
  cursor: pointer;
}

.volume-change input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: #242323;
  cursor: pointer;
  z-index: 100;
}



.volume-change .volume-progress {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50%;
  max-width: 120px;
  height: 8px;
  border-radius: 5px;
  background-color: #242323;
  cursor: pointer;
  z-index: 1;
}


.on {
  display: block;
}
.off {
  display: none;
}

.volume-icons:hover > .volume-change {
  display: flex;
  transition: 1s ease-in-out;
  position: relative;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {


  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
